
.pink-nav-main{
    background-color: #F6DCFF;
    display: block;
    width: 100vw;
    margin:0;
    padding: none;
    font-size: 1.1vh;
    letter-spacing: .082rem;
    font-family: 'yu-gothic-bold', sans-serif;
    font-weight: 700;
    color: #4a4a4a;
    height: 5vh;
    
}

#pink-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.pink-nav-main:hover{
    cursor: pointer;
}