.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #6e6e6e;
}


.menu-icon{
    color: white;
    z-index:100;
    font-size: 1.4em;
}
.right-nav-bar{
   width: 20%;
   background-color: #6e6e6e;
   position: relative;
   
}

.user-icon{
    color: white;
    padding-left: 20px;
    z-index: 100;
    font-size: 1.2em;
}
