.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(117, 113, 113);
}


.menu-icon{
    color: white;
    z-index:100;
}
.right-nav-bar{
   width: 20%;
   background-color: rgb(117, 113, 113);
   position: relative;
   
}

.user-icon{
    color: white;
    padding-left: 20px;
    z-index: 100;
}
