
@font-face {
    font-family: poppinsReg;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
  }

@font-face {
    font-family: mustica;
    src: url(../../fonts/mustica_pro/MusticaPro-SemiBold.otf);
 }

 @font-face {
    font-family: zabal;
    src: url(../../fonts/zabal/ZabalDEMO-Regular.otf);
 }

 @font-face {
    font-family: zabalBold;
    src: url(../../fonts/zabal/ZabalDEMO-SemiBold.otf);
 }


 @font-face {
    font-family: linux;
    src: url(../../fonts/linux_libertine/LinLibertine_DR.ttf);
 }


 #blur-background{
     /* position: sticky; */
     position: fixed;
     top: 0;
     background-color:#d1d2d4;
     opacity: .5;
     width: 100vw;
     height: 100vh;
     overflow: auto;
 }
.bg-modal{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10vh;
    left: 28%;
    height: 85vh;
    width: 35vw;
    z-index: 4;
    overflow: hidden;
    border: 4px dotted #eedaf6;
    background-color:#fbf3fc;
}

#form-close{
    width: 100%;
    max-width: 25vw ;
    height: 4vh;
    display: flex;
    margin-left:8vw;
    padding-right: 0;
    margin-right: 0;
    align-items: center;
    justify-content: flex-end;
}

#form-modal-close{
    font-size: 2vw;
    color: #c4b5b5;
    cursor: pointer;
}
#form-modal-close:hover{
    transform: translateY(.2vw);
}
.review-modal{
    border-radius: 0.5em;
    top: 10vh;
    height: 80vh;
    left: 20%;
    width: 30vw;
    background-color: #fbf3fc;
    overflow: hidden;
}


.product-img-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none;
    margin: 0;
    height: 20vh;
}


#review-product-img{
    max-width: 100%;
    max-height: 100%;;
    transform: scale(1);
    padding: none;
}
#product-rating-star{
    padding-right: 4vw;
}

#product-rating{
    margin-top: 1vh;
    font-family: zabal;
    color: #757474;
}

#star-rating{
    margin-top: 1vh;
}

.review-form-modal{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: none;
    margin: 0;
}

#review-title{
    margin-top: 2vw;
    font-family: mustica;
    color: #757474;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
}

#title-input{
    border-bottom: none;
    margin-top: 1.2vh;
    background-color: white;
    font-family: zabal;
    color: #4a4a4a;
}

#review-review{
    display: flex;
    flex-direction: column;
    font-family: mustica;
    color: #757474;
    margin-top: 3vh;
}

textarea{
    border: none;
    background-color: white;
    resize: none;
    outline: none;
    font-family: zabal;
    color: #4a4a4a;
    margin-top: 1.2vh;
    width: 100%;
    height: 20vh;
}


#form-product-name{
    font-family: zabalBold;
    color: #757474;
    font-size: 2vw;
}

.review-container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-top: #eeddf5 4vh solid;
    line-height: 1.6;
}

#review-rating{
    margin-bottom: .4vw;
}

#user-welcome-message{
    display: flex;
}
#hello-user{
    font-family: mustica;
    color: #757474;
    font-size: 1.3vw;
}
#hello-username{
    margin-left: .5vw;
    font-family: mustica;
    color: #ad90b6;
    font-size: 1.3vw;
}
#review-message{
    margin-top: 1vh;
    font-family: zabal;
    color: #757474;
    font-size: 1vw;
    margin-bottom: 1vh;
    border-bottom: 1px dotted #adadad;
}


#review-body{
    font-family: zabal;
    font-size: .9vw;
    height: 30vh;
    color: #4a4a4a;
}

#post-review{
    margin-top: 2vh;
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-flex;
    font-family: zabal;
    font-size: 2vh;
    font-weight: 600;
    height: 5vh;
    margin-bottom: .5vw;
    width: 12vw;
    justify-content: center;
    line-height: 2vh;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    letter-spacing: .1vw;
}

#post-review:hover{
    background-color: #4a4a4a;
    color: white; 
}

.reviewer-info{
    margin-left: 5vw;
    margin-top: 2vw;
    margin-right: 5vw;
}
.reviewer-name {
    height: 30vh;
    font-family: zabalBold;
    color: #4a4a4a;

}

.display-reviews-info {
    height: 30vh;
    margin-right: 10vw;
}

.all-review-container{
    margin-top: 2vw;
}


 input[type="radio"] {
    display: none;
  }

  .star {
    cursor: pointer;
    transition: color 200ms
  }


  .review-modal{
    display: flex;
    flex-direction: column;

  }

  #star-value{
    color: #ecc8f8;
    transform: scale(1);
  }

  #non-star-value{
    color: #d3d3d6; 
    transform: scale(1);
  }

  #delete-review-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  }

  #update-review-button{
    background: none;
	color: inherit;
	border: none;
	padding-right: 1.5vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  }

  
#write-review{
    font-family: zabalBold;
    color: #4a4a4a;
    background: none;
	border: none;
	padding-left: 5.3vw;
	outline: inherit;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-

}
#div-write-review{
    position: absolute;
    bottom: -10vh;

}


#write-review:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;;
}


