

#menu-slide-out{
    position: fixed;
    background: #faebf5;
    margin: 0;
    z-index: 101;
    top: 0;
    height: 100%;
    width: 33%;
}

#x-closeSideBar{
    position: fixed;
    top: 5%;
    left: 3%;
    background: none;
	color: inherit;
	border: none;
	padding-left: 3vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#menu-slide-content{
    position: fixed;
    top: 20%;
    left: 6%;
    
}

#slide-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slide-home{
    padding-bottom: 3vh;
    font-family: 'yu-gothic-bold', sans-serif;
    color: #4a4a4a;
    font-size: 1vw;
    text-decoration: none;
}

#slide-skincare{
    padding-bottom: 3vh;
    font-family: 'yu-gothic-bold', sans-serif;
    color: #4a4a4a;
    font-size: 1vw;
    text-decoration: none;
}