@font-face {
    font-family: mustica;
    src: url(../../fonts/mustica_pro/MusticaPro-SemiBold.otf);
 }

 @font-face {
    font-family: zabal;
    src: url(../../fonts/zabal/ZabalDEMO-Regular.otf);
 }

 @font-face {
    font-family: zabalBold;
    src: url(../../fonts/zabal/ZabalDEMO-SemiBold.otf);
 }

#menu-slide-out{
    position: fixed;
    background: #faebf5;
    margin: 0;
    z-index: 100;
    top: 0;
    height: 100%;
    width: 25%;
    box-shadow: .05vw .05vw .05vw .05vw #c3acbb;

}

#x-closeSideBar{
    position: fixed;
    top: 5%;
    left: 3%;
    border: none;
    background: none;
	color: inherit;
	padding-left: 3vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


#menu-slide-content{
    position: fixed;
    top: 20%;
    left: 6%;  
}

#slide-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#slide-home{
    padding-bottom: 2vh;
    font-family: zabalBold;
    color: #615f5f;
    font-size: 1vw;
    text-decoration: none;
    letter-spacing: .1vw;

}

#slide-home:hover{
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    text-decoration: none;
    padding-bottom: 2vh;
}

#slide-skincare:hover{
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    text-decoration: none;
    padding-bottom: 2vh;
}

#slide-products{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: zabalBold;
    color: #615f5f;
    font-size: 1vw;
    text-decoration: none;
    letter-spacing: .1vw;
}

#slide-skincare{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: zabalBold;
    color: #615f5f;
    font-size: 1vw;
    text-decoration: none;
    letter-spacing: .1vw;
}
#slide-haircare{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: zabalBold;
    color: #615f5f;
    font-size: 1vw;
    text-decoration: none;
    letter-spacing: .1vw;
}
#slide-gifts{
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: zabalBold;
    color: #615f5f;
    font-size: 1vw;
    text-decoration: none;
    letter-spacing: .1vw;
}

#slide-haircare:hover{
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    text-decoration: none;
    padding-bottom: 2vh;
}

#slide-gifts:hover{
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    text-decoration: none;
    padding-bottom: 2vh;
}

#bg-menu-slide-out{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #615f5f;
    z-index: 5;
    opacity: .5;
}

.close-container{
    border: dotted 2px #615f5f;
    padding-left: .2vw;
    padding-top: .7vw;
    padding-bottom: .7vw;
    padding-right: .2vw;
  }

.leftright{
    height: 2px;
    width: 30px;
    background-color: #4a4a4a;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  .rightleft{
    height: 2px;
    width: 30px;
    background-color: #4a4a4a;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }

  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
  }
  .close-container:hover .close{
    opacity: 3;
  }
  
 