.signup-hover-slow{
    animation: marquee 25s linear;  
    color: #4a4a4a; 
}


@font-face {
    font-family: myFirstFont;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
  }

@keyframes marquee {
    from {transform: translateX(0%); }
    to {transform: translateX(-100%); }
  }

.signup-hover span{
    padding: 0 5rem;
    white-space: nowrap;
    animation: fadeInMarquee .4s cubic-bezier(.49,.025,.65,.65);
    overflow: hidden;
    font-size: 9rem;
    font-weight: 300;
    letter-spacing: 0;
    background-color: #aafbff;
    font-family:myFirstFont;
  
}

@media (max-width:  60.9vw) and (min-width: 34.58vw){
    .signup-hover {
        font-size: 7.2rem;
    }
}


@media (max-width: 580px){
    .signup-hover{
        padding-top: 3.1rem;
        padding-bottom: 4rem;
    }
}



