

@font-face {
    font-family: poppinsReg;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
  }

@font-face {
    font-family: mustica;
    src: url(../../fonts/mustica_pro/MusticaPro-SemiBold.otf);
 }

 @font-face {
    font-family: zabal;
    src: url(../../fonts/zabal/ZabalDEMO-Regular.otf);
 }

 @font-face {
    font-family: zabalBold;
    src: url(../../fonts/zabal/ZabalDEMO-SemiBold.otf);
 }


#splashPage-outer-div{
    margin:0;
    overflow: hidden;
}
.splash-hover-slow{
    animation: marquee 25s linear;  
    color: #4a4a4a; 
    padding-top: 14vh;
}

.threeSplashImg{
    z-index: -1000;
    position: relative;
    width: 100vw;
    height: 60vh;
    background-color: transparent;
}
.center{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fac2d3;
    width: .1vw;
    height: 38vh;
    transform-origin: left;
    animation: center-animate 6s ease 1, color-animate 5s infinite;
    animation-fill-mode: forwards;
    z-index: -100;
}

@keyframes center-animate {
    from {transform: scaleX(0);background-color: #fae7c2;}
    to {transform: scaleX(6000);background-color: #fac2d3}
}

@keyframes marquee {
    from {transform: translateX(0%); }
    to {transform: translateX(-100%); }
  }

@font-face {
    font-family: mustica;
    src: url(../../fonts/Poppins/Poppins-Light.ttf);
}

.splash-hover span{
    padding: 0 5rem;
    white-space: nowrap;
    /* animation: fadeInMarquee .4s cubic-bezier(.49,.025,.65,.65); */
    /* overflow: hidden; */
    font-size: 9rem;
    font-weight: 300;
    letter-spacing: 0;
    z-index: 100;
    background-color: transparent;
    overflow: hidden;
    font-family: zabal;
}

#splash-2 {
    position: absolute;
    right: 25vw;
    bottom: 1vh;
    width: 19vw;
    height: 35vh;;
    z-index: 5;
    
}
#free-shipping{
    position: absolute;
    font-size: .8vw;
    font-family: mustica;
    right: 23vw;
    top: 10vh;
    z-index: 10;
    color: #706e6e;
    letter-spacing: .2vw;
}

.splash2{
    animation-name:splashImage2;
    animation-duration:1s;
    height: 260px;
    width:100px; 
    position: absolute;
    animation-fill-mode: forwards;
}

@keyframes splashImage2{
    from {top: 50%; right: -30%;}
    to {top: 50%; right: -5%;}
} 

#splash-1{
    position: absolute;
    width: 43vw;
    height: 49vh;
    left: 23vw;
    top: 12vh;
    transform: scale(1.1);
}

.splash1{
    animation-name:splashImage1;
    animation-duration:1s;
    height: 500px;
    width:500px; 
    position: absolute;
    animation-fill-mode: forwards;
}

@keyframes splashImage1{
    from {bottom:-50%; left: 0%;}
    to {bottom: -15%; left: 0%;}
} 
