
#outer-sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.firstName{
    padding-bottom: 2vh;
}

.lastName{
    padding-bottom: 2vh;
}

.email{
    padding-bottom: 2vh;
}


.confirm-email{
    padding-bottom: 2vh;
}
.password{
    padding-bottom: 2vh;
}


.confirm-password{
    padding-bottom: 2vh;
}

.sign-up span{
    font-size: 15.69px;
    letter-spacing: .18em;
    font-weight: 400;
    font-family: 'yu-gothic-bold', sans-serif;
    color: #4a4a4a;
}

#first-time{
    font-size: 2.5vw;
    color: #4a4a4a;
    font-weight: bold;
    font-family: 'yu-gothic-bold', sans-serif;
    padding-bottom: 3vw;
}

.valid{
    color: rgb(0, 170, 0)
}

#message{
    font-family: zabal;
    margin-top: 2vw;
    width: 31vw;
    letter-spacing: 1px;
    color: #4a4a4a;
    font-size: 14px;
}

.invalid{
    color :#4a4a4a;
}

form input{
    border: none;
    background: transparent;
    border-bottom: 2px solid #4a4a4a;
    height: 3.2vh;
    padding: 1vh 1vh 1vh 0;
    width: 30vw;
}

.hidden{
    display: none;
}

#firstNameHidden {
    color: #4a4a4a;
    font-size: 11.77px;
    font-family: zabal;
    margin-bottom: 2vw;
}

#lastNameHidden{
    color: #4a4a4a;
    font-size: 11.77px;
    font-family: zabal;
    margin-top: 2vw;
}

#emailHidden{
    color: #4a4a4a;
    font-size: 11.77px;
    font-family: zabal;
    margin-top: 4vw;
}

#confirmEmailHidden{
    color: #4a4a4a;
    font-size: 11.77px;
    font-family: zabal;
    margin-top: 2vw;
}

#confirmPasswordHidden{
    color: #4a4a4a;
    font-size: 11.77px;
    font-family: zabal;
    margin-top: 2vw;;
}

.input:hover{
    background-color: #4a4a4a;
    color: white; 
}

#subscription-wrapper{
    display: flex;
    padding-top: 3vh;
    padding: none;
    align-items: flex-start;
}

#checkbox-sub{
    width: 3vw;
    height: 3vh;
}

#privacy{
    display: inline-flex;
    flex-wrap: wrap;
    width: 30vw;
    font-family: zabal;
    font-size: 10.8px;
    color: #4a4a4a;
    white-space: pre-wrap;
    letter-spacing: 0;
    box-sizing: border-box;
}

#length{
    margin-bottom: 8px;
}

#letter{
    margin-bottom: 8px;
}

#number{
    margin-bottom: 8px;
}

#special-chars{
    margin-bottom: 8px;
}








