@font-face {
    font-family: poppinsReg;
    src: url(../../fonts/Poppins/Poppins-Regular.ttf);
  }

@font-face {
    font-family: mustica;
    src: url(../../fonts/mustica_pro/MusticaPro-SemiBold.otf);
 }

 @font-face {
    font-family: zabal;
    src: url(../../fonts/zabal/ZabalDEMO-Regular.otf);
 }

 @font-face {
    font-family: linux;
    src: url(../../fonts/linux_libertine/LinLibertine_DR.ttf);
 }



 #outer-index-div{
    width: 100vw;
    height: 100vh;
    padding-bottom: 3vh;
    z-index: 10;
 } 

#fun-elephant-banner{
    width: 100vw;
    height: 35vh;
    top: 1vh;
    position: relative;
    z-index: -1;
}

#all-collectionHeader{
    font-size: 3.2vw;
    color: #4a4a4a;
    font-weight: bold;
    font-family: mustica;  
    position: absolute;
    top: 20vh;
    right: 42vw;
    letter-spacing: .3vw;
}

#all-collectionHeader1{
    font-size: 3.2vw;
    color: #4a4a4a;
    font-weight: bold;
    font-family: mustica;  
    position: absolute;
    top: 20vh;
    right: 34vw;
    letter-spacing: .3vw;
}

#banner2-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6dcff;
    width: 100vw;
    height: 8.2vh;
    padding: none;
    margin: 0;
    position: relative;
}

#banner2-dropdown{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #f6dcff;
    width: 100vw;
    height: 8.2vh;
    padding: none;
    margin: 0;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4a4a;
    font-family: zabal;
}

#link-deco{
    text-decoration: none;
    margin-top: .5vw;
}
#link-deco:hover{
    color: white
}



#display-all-products{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    gap: 0;
}

#outer-product-index-item:hover{
    background-color:#baffec;
}

#individual-img:hover{
    transform: scale(.86);
    transition-timing-function: ease;
    transition: 0.9s;


}
.nav-link-products{
    text-decoration: none;
    margin:0;
    padding: none;
    line-height: 1.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#individual-item-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: zabal;
    color: #4a4a4a;
    font-size: .8vw;
    margin: 0;
    padding: none;
    max-width: 20vw;
    line-height: 2.5vh;
}

#product-info{
    padding: none;
    margin: none;
}

#show-outer-div{
    width: 100vw;
    height: 100vh;
    /* position: relative  */
    overflow: hidden;
}


#second-container{
    width: 100vw;
    height:100vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#show-desc-display{
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    margin-top: 10%;
    height: 100vw;
    max-height: 100%;
}


#product-info{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6vw;
}

#product-information{
    font-size: 6vh;
    color: #4a4a4a;
    font-family: linux;
    letter-spacing: .1vw;
    margin-bottom: 3vh;
}

#product-description{
    display: flex;
    justify-content: space-evenly;  
    font-family: zabal;
    color: #7d7d7d;

}

#what-it-does{
    font-size: 2.5vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    font-family: zabal;
    color: #393838;
    margin-left: 6vw;
    margin-top: 5vh;
    max-width: 16vw;
}

#what{
    border-top: 1px solid #4a4a4a;
    padding: 1vw;
    font-size: 1vw;
    color: #4a4a4a;
    font-family: zabal;
}
#what:hover{
    cursor: pointer;
    font-weight: bolder;
    font-family: zabalBold;
}
#how{
    border-top: 1px solid #4a4a4a;
    padding: 1vw;
    font-size: 1vw;
    color: #4a4a4a;
    font-family: zabal;
}
#how:hover{
    cursor: pointer;
    font-weight: bolder;
    font-family: zabalBold;
}
#ingredients{
    border-top: 1px solid #4a4a4a;
    padding: 1vw;
    font-size: 1vw;
    color: #4a4a4a;
    font-family: zabal;
    margin-bottom: 5vh;
}
#ingredients:hover{
    cursor: pointer;
    font-weight: bolder;
    font-family: zabalBold;
}

#product-desc{
    margin-top: 4vh;
    max-width: 35vw;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 3vh;
}

#showImgBg{
    background-color: yellow;
    width: 50%;
}
#img-direct{
    margin-right: 10%;
}

#slide-down{
    background: none;
	color: inherit;
	border: none;
	padding-left: 3vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: mustica;
    letter-spacing: .2vw;
}

.slide-down-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.press-to-slide-down{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    padding-right: 4vw;

}


#skin-care-drop-down{
    font-family: mustica;
    color: #4a4a4a;
    font-size: 1.2vw;
    letter-spacing: .2vw;
  
}

#links{
    display: flex;
    flex-direction: column;
}


#skincare-awards{
    width: 17vw;
    height: 12.5vh;
}

#skincare-dropdown{
    margin-left: 1vw;
    font-family: mustica;
    color: #4a4a4a;
    letter-spacing: .2vw;
    transform: scale(1.7vw);
}

.show-img-display{
    padding-top: 3.8vh;
    width:  33.936vw;
    height:  99.520vh;
    overflow: hidden;
    transform: scale(1.19);
}
 @keyframes example {
    from{
        transform: translate3d(1px,0,0)
    }
    to{ 
        transform: translate3d(-100%,0,0)
    }
}

.img-direct{
    animation: example 1.6s steps(35) infinite alternate;

}

#star{
    color: #fa47c3 ;
    transform: scale(1);
}

#no-star{
    color: #d3d3d6; 
    transform: scale(1);
}

.rating-display-index{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style: none;
}