

.login-form-outer-container{
    margin-top: 50px;
}
.log-in{
    max-width: 100%;
    font-weight: 700;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    font-family: 'yu-gothic-bold', sans-serif;
    color: #4a4a4a;
}

.logging-in{
    padding-bottom: 3vw;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'yu-gothic-bold', sans-serif;
}


#emailPasswordValidation{
    font-size: 15.70px;
    font-family: 'yu-gothic-bold', sans-serif;;
    color: #e32c2b;
    z-index: 100;
}

.email-address{
    padding-bottom: 30px;
}

.pw{
    padding-bottom: 30px;
}

.log-in span{
    font-size: 15.69px;
    letter-spacing: .18em;
    font-weight: 400;
}

input:focus {
    outline: none;
    border: dotted 2px #4a4a4a;
    font-size: 15px;
    color: #4a4a4a;
}

input[type=password]{
    background-color: white;
    height: 30px;
    padding: 0;
    margin: none;
    margin-top: 10px;;
}

input[type=text]{
    height: 30px;
    padding: 0;
    margin: none;
    margin-top: 10px;;
}

#email{
    background-color: white;
}



#input-button{
    align-items: center;
    background-color: transparent;
    border: 2px solid #4a4a4a;
    box-sizing: border-box;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-flex;
    font-family: 'yu-gothic-bold', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 2vh;
    outline: 0;
    padding: 0 8px ;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    letter-spacing: 3px;
}

#input-button:hover{
    background-color: #4a4a4a;
    color: white; 
}


#input-demo-button{
    align-items: center;
    background-color: transparent;
    border: 2px solid #4a4a4a;
    box-sizing: border-box;
    color: #4a4a4a;
    cursor: pointer;
    display: inline-flex;
    font-family: 'yu-gothic-bold', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 2vh;
    outline: 0;
    padding: 0 8px ;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
    letter-spacing: 3px;
    margin-left: 10px;
}
#input-demo-button:hover{
    background-color: #4a4a4a;
    color: white; 
}

